{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">

    <div>
        {% include 'base/topics_component.html' %}
    </div>
    
    <div>
        {% if room_count <= 1 %}
            <h5>{{room_count}} room avaiable</h5>
        {% else %}
            <h5>{{room_count}} rooms avaiable</h5>
        {% endif %}
        
        {% include 'base/feed_component.html' %}
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>

</div> 

{% endblock %}